<div class="container-fluid vh-100">
    <div class="row h-100 w-75 ">
        <div *ngFor="let f of frasesHijo" class="col-4 d-flex flex-column justify-content-center align-items-center my-5 main-container" [style.backgroundColor]="f.bgcolor">

            <div class="image-container">
                <img [src]="f.img" alt="{{ f.title }}" class="step-image" />
            </div>

            <div class="text-container">
                <div>
                    <span class="titulo-card">{{ f.title }}</span>
                </div>
                <div>
                    <span class="texto-card">{{ f.description }}</span>
                </div>


            </div>

        </div>
    </div>
</div>

